<div class="form-group">
  <label for="{{surveyId}}-question-{{incremented @index}}">Question {{incremented @index}}</label>
  <input type="text" class="form-control" id="{{surveyId}}-question-{{incremented @index}}" name="question{{incremented @index}}[text]" value="{{question.text}}">
</div>
<div class="form-group">
  <label for="{{question._id}}-option-1">Question Options</label>
  {{#each question.responses as |response|}}
    {{> question-response questionId=question._id response=response questionIndex=@../index }}
  {{/each}}
</div>
