{{#each responses as |response|}}
  {{#each users as |user|}}

    <button type="button" class="btn btn-primary">Responses</button>
    <div class="container-chart">
      <div id='container1'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container2'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container3'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container4'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container5'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container6'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container7'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container8'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container9'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container10'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>

      <div id='container11'></div>
      <p> {{reponse.id}} </p>
      <p> {{user.id}} </p>
    </div>

  {{/each}}
