<div class="form-check">
  <input class="form-check-input" type="radio" name="question{{@../index}}[response]" id="{{_id}}" value="{{_id}}">
  <label class="form-check-label" for="{{_id}}">
    {{value}}
  </label>
</div>
